/*
    This module will change the Jellyfin banner to a custom one.
    This allows you to customise the background on the homepage.
    This can be used as a standalone module.
*/

:root {
    --banner-url: url('https://git.tolchin.pro/Oleg/Tolfin/raw/main/assets/banner.png');
    --logo-url: url('https://git.tolchin.pro/Oleg/Tolfin/raw/main/assets/logo.png');
}

.pageTitleWithDefaultLogo {
    background-image: var(--banner-url) !important;
}

.splashLogo {
    background-image: var(--logo-url) !important;
}