/*
    This module will change the Jellyfin banner to a custom one.
    This allows you to customise the background on the homepage.
    This can be used as a standalone module.
*/

:root {
    --banner-url: url('https://git.tolchin.pro/api/v1/repos/Oleg/Tolfin/raw/assets/banner.png?ref=main');
}

.pageTitleWithDefaultLogo,
.pageTitleWithLogo {
    background-image: var(--banner-url) !important;
    background-repeat: no-repeat !important;
    background-position: left center !important;
    background-size: contain !important;
    padding-left: 80px !important;
}