/*
    Этот модуль убирает кнопку "Забыли пароль" со страницы входа.
    Полезно если используется сторонняя система управления пользователями.
    Может использоваться как отдельный модуль.
*/

#btnResetPassword,
.btnForgotPassword {
    display: none !important;
}

#loginPage {
    max-height: 450px;
}
