/*
    Этот модуль делает карточки Jellyfin немного приподнимающимися при наведении.
    Простой способ сделать Jellyfin более современным.
    Может использоваться как отдельный модуль.
*/

.cardBox:hover {
    transform: translateY(-2.5px);
    -webkit-transform: translateY(-2.5px);
    -moz-transform: translateY(-2.5px);
    -ms-transform: translateY(-2.5px);
    -o-transform: translateY(-2.5px);
}
