/*
    Этот модуль делает боковую панель статичной (не прокручивается вместе со страницей).
    Простой способ сделать Jellyfin более современным.
    Может использоваться как отдельный модуль.
*/

.layout-desktop .mainDrawer,
.MuiDrawer-paperAnchorLeft {
    left: 0 !important;
    top: 0;
    width: 250px !important;
    background-color: var(--theme-sidebar-background-colour) !important;
    z-index: 100;
}

.layout-desktop .mainDrawerButton,
.layout-desktop .headerHomeButton {
    display: none;
}

.layout-desktop .libraryPage:not(#editItemMetadataPage) {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.layout-desktop #slides-container {
    margin-left: 320px;
    width: calc(100% - 385px);
}

.layout-desktop .hide-scroll .mainDrawer,
.layout-desktop .hideMainDrawer .mainDrawer {
    display: none;
}
